<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/accountSetting.css">
  </head>
  <body>
    <% include layout %>
    <main>
      <div id="pagetitle">アカウント設定</div>
      <div id="settingBody">
        <div class="headline">登録データ</div>
        <div class="data">ユーザー名：<%= myData.name %></div>
        <div class="data">メールアドレス：<%= myData.mail %></div>
        <div id="change">
          <p class="subtitle">メールアドレスの変更</p>
          <form action="/PHH_Bookmark/accountSetting/mail" method="post">
            <div id="mail"><input type="text" value="<%= myData.mail %>" placeholder="メールアドレスを入力" name="mail" class="text"></div>
            <% if(typeof mailNotice !== 'undefined'){ %>
              <p class="notice"><%= mailNotice %></p>
            <% } %>
            <div class="changeButton"><input type="submit" value="メールアドレスを変更" class="button"></div>
          </form>
          <form action="/PHH_Bookmark/accountSetting/password" method="post">
            <div class="subtitle">パスワードの変更</div>
            <div id="password">
              <div><input type="password" placeholder="現在のパスワード" name="currentPassword" class="text"></div>
              <div><input type="password" placeholder="新しいパスワード" name="newPassword" class="text"></div>
              <div><input type="password" placeholder="新しいパスワード（もう一度）" name="newPasswordConfirm" class="text"></div>
            </div>
            <% if(typeof confirmNotice !== 'undefined'){ %>
              <p class="notice"><%= confirmNotice %></p>
            <% } %>
            <% if(typeof passwordNotice !== 'undefined'){ %>
              <p class="notice"><%= passwordNotice %></p>
            <% } %>
            <div class="changeButton"><input type="submit" value="パスワードを変更" class="button"></div>
            <% if(typeof finishChangingPassword !== 'undefined'){ %>
              <p><%= finishChangingPassword %></p>
            <% } %>
          </form>
          <form action="/PHH_Bookmark/accountSetting/leave" method="post">
            <div id="leave"><input type="submit" value="退会"></div>
          </form>
        </div>
      </div>
    </main>
  </body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
    $(function(){
      var $mail = $('[name="mail"]');
      var $currentPassword = $('[name="currentPassword"]');
      var $newPassword = $('[name="newPassword"]');
      var $newPasswordConfirm = $('[name="newPasswordConfirm"]');
      var $button = $(".button");
      var $password = $('#password');

      var checkForm = /^[a-zA-Z0-9]+$/;
      var checkEmail = /^([a-zA-Z0-9])+([a-zA-Z0-9\._-])*@([a-zA-Z0-9_-])+([a-zA-Z0-9\._-]+)+$/;

      $button.click(function(){
        this.disabled = true;
        this.form.submit();
      });
      $mail.keyup(function(){
        var mail = $mail.val();
        $('#mailNotice').detach();
        if(!checkEmail.test(mail)) $mail.after('<p id="mailNotice">正しいメールアドレスを入力してください</p>');
      });
      $currentPassword.keyup(function(){
        var currentPassword = $currentPassword.val();
        $('#currentPasswordNotice').detach();
        if(!checkForm.test(currentPassword) || currentPassword.length < 8) $currentPassword.after('<p id="currentPasswordNotice">パスワードは半角英数8文字以上です</p>');
      });
      $newPassword.keyup(function(){
        var newPassword = $newPassword.val();
        $('#newPasswordNotice').detach();
        if(!checkForm.test(newPassword) || newPassword.length < 8) $newPassword.after('<p id="newPasswordNotice">パスワードは半角英数8文字以上です</p>');
      });
      $newPasswordConfirm.keyup(function(){
        var newPasswordConfirm = $newPasswordConfirm.val();
        $('#newPasswordConfirmNotice').detach();
        if(!checkForm.test(newPasswordConfirm) || newPasswordConfirm.length < 8) $newPasswordConfirm.after('<p id="newPasswordConfirmNotice">パスワードは半角英数8文字以上です</p>');
      });
    });
  </script>
</html>
