<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/createOrganization.css">
  </head>
  <body>
    <% include layout %>
    <div id="all">
      <p id="pagetitle">組織を作成する</p>
      <form action="/PHH_Bookmark/createOrganization/create" method="post" enctype="multipart/form-data" name="mainForm" id="mainFrom">
        <p class="formTitle">組織名</p>
        <% if(typeof orgName !== 'undefined') { %>
          <div class="form"><input type="text" name="orgName" id="orgName" value="<%= orgName %>"></div>
        <% } else { %>
          <div class="form"><input type="text" name="orgName" id="orgName"></div>
        <% } %>
        <% if(typeof orgNameNotice !== 'undefined'){ %>
          <p><%= orgNameNotice %></p>
        <% } %>
        <% if(typeof orgNameExists !== 'undefined'){%>
          <div><%= orgNameExists %></div>
        <% } %>
        <p class="formTitle">紹介文</p>
        <% if(typeof orgIntroduction !== 'undefined') { %>
          <div class="form"><textarea type="text" name="orgIntroduction" id="orgIntroduction"><%= orgIntroduction %></textarea></div>
        <% } else {%>
          <div class="form"><textarea type="text" name="orgIntroduction" id="orgIntroduction"></textarea></div>
        <% } %>
        <% if(typeof orgIntroductionNotice !== 'undefined'){ %>
          <p><%= orgIntroductionNotice %></p>
        <% } %>
        <p class="subtitle">サムネイル</p>
        <div><input type="file" accept="image/*" name="image_file"></div>
        <% if(typeof thumbailNotice !== 'undefined'){%>
          <p><%= thumbailNotice %></p>
        <% } %>
        <div id="create"><input type="submit" value="作成" id="createOrg" name="createOrg" class="button"></div>
        <input type="hidden" name="result" value="">
        <div id="userLists">
          <div id="inviteAndSearch">
            <p class="subtitle">ユーザーの招待</p>
            <div id="searchForm">
              <div class="form"><input type="text" placeholder="ユーザー名を入力" name="invitedUser" id="invitedUser"></div>
              <input type="button" value="検索" id="searchUser">
            </div>
            <% if(typeof searchUserNotice !== 'undefined'){ %>
              <p><%= searchUserNotice %></p>
            <% } %>
            <% if(typeof searchedUsers !== 'undefined'){%>
              <div class="subtitle">検索にヒットしたユーザー</div>
              <div id="hitUserList">
              <% for(var i = 0; i < searchedUsers.length; i++){ %>
                <div class="hitUser"><%= searchedUsers[i].nick_name %> <%= searchedUsers[i].name %>
                  <input type="button" value="決定" class="set" name="<%= searchedUsers[i].name %>,<%= searchedUsers[i].nick_name %>">
                </div>
              <% } %>
              </div>
            <% } %>
            <% if(typeof noUser !== 'undefined'){ %>
              <%= noUser %>
            <% } %>
          </form>
        </div>
        <div id="memberList">
          <% if(typeof selectedNickNames !== 'undefined') { %>
            <div class="subtitle"> 選択されたユーザー</div>
            <% for(var i = 0; i < selectedNickNames.length; i++){ %>
              <div class="selectedUser"><%= selectedNickNames[i] %><%= selectedUserNames[i] %><input type="button" value="削除" name="<%= selectedUserNames[i] %>" class="deleteButton"></div>
            <% } %>
          <% } %>
        </div>
      </div>

      <form action="/PHH_Bookmark/createOrganization/searchUser" method="post" name="searchUser">
        <input type="hidden" name="result">
        <input type="hidden" name="orgName">
        <input type="hidden" name="orgIntroduction">
      </form>

      <form action="/PHH_Bookmark/createOrganization/selectUser" method="post" name="selectUser">
        <input type="hidden" name="result">
        <input type="hidden" name="orgName">
        <input type="hidden" name="orgIntroduction">
      </form>

      <form action="/PHH_Bookmark/createOrganization/excludeUser" method="post" name="excludeUser">
        <input type="hidden" name="result">
        <input type="hidden" name="orgName">
        <input type="hidden" name="orgIntroduction">
      </form>
    </div>
  </body>
</html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
$(function(){
  var $searchUser = $('#searchUser');
  var $invitedUser = $('#invitedUser');
  var $set = $('.set');
  var $orgName = $('#orgName');
  var $orgIntroduction = $('#orgIntroduction');
  var $mainForm = $('#mainForm');
  var $createOrg = $('#createOrg');
  var $deleteButton = $('.deleteButton');
  var beSetUsers = [];
  var $button = $(".button");
  $button.click(function(){
    this.disabled = true;
    this.form.submit();
  });
  $searchUser.click(function(){
    $invitedUser = $invitedUser.val();
    $orgName = $orgName.val();
    $orgIntroduction = $orgIntroduction.val();
    document.searchUser.result.value = $invitedUser;
    document.searchUser.orgName.value = $orgName;
    document.searchUser.orgIntroduction.value = $orgIntroduction;
    document.searchUser.submit();
  });
  $set.click(function(){
    var beSetUser = this.name;
    $orgName = $orgName.val();
    $orgIntroduction = $orgIntroduction.val();
    beSetUser = beSetUser.split(',');
    document.selectUser.result.value = beSetUser;
    document.selectUser.orgName.value = $orgName;
    document.selectUser.orgIntroduction.value = $orgIntroduction;
    document.selectUser.submit();
  });
  $deleteButton.click(function(){
    document.excludeUser.result.value = this.name;
    document.excludeUser.orgName.value = $orgName.val();
    document.excludeUser.orgIntroduction.value = $orgIntroduction.val();
    document.excludeUser.submit();
  });
});
</script>
