<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/PHH_Bookmark/createOrganization/create" method="post" enctype="multipart/form-data" name="mainForm" id="mainFrom">
      <% if(typeof orgName !== 'undefined') { %>
        <input type="text" placeholder="組織名" name="orgName" id="orgName" value="<%= orgName %>">
      <% } else { %>
        <input type="text" placeholder="組織名" name="orgName" id="orgName">
      <% } %>
      <% if(typeof orgNameNotice !== 'undefined'){ %>
        <p><%= orgNameNotice %></p>
      <% } %>
      <% if(typeof orgIntroduction !== 'undefined') { %>
        <input type="text" placeholder="description" name="orgIntroduction" id="orgIntroduction" value="<%= orgIntroduction %>">
      <% } else {%>
        <input type="text" placeholder="description" name="orgIntroduction" id="orgIntroduction">
      <% } %>
      <% if(typeof orgIntroductionNotice !== 'undefined'){ %>
        <p><%= orgIntroductionNotice %></p>
      <% } %>
      <input type="file" accept="image/*" name="image_file">
      <% if(typeof thumbailNotice !== 'undefined'){%>
        <p><%= thumbailNotice %></p>
      <% } %>
      <input type="text" placeholder="招待メンバー" name="invitedUser" id="invitedUser">
      <% if(typeof searchUserNotice !== 'undefined'){ %>
        <p><%= searchUserNotice %></p>
      <% } %>
      <input type="button" value="検索" id="searchUser">
      <% if(typeof searchedUsers !== 'undefined'){%>
        <div>検索にヒットしたユーザー</div>
        <% for(var i = 0; i < searchedUsers.length; i++){ %>
          <div><%= searchedUsers[i].nick_name %> <%= searchedUsers[i].name %>
            <input type="button" value="決定" class="set" name="<%= searchedUsers[i].name %>,<%= searchedUsers[i].nick_name %>">
          </div>
        <% } %>
      <% } %>
      <% if(typeof noUser !== 'undefined'){ %>
        <%= noUser %>
      <% } %>
      <input type="submit" value="作成" id="createOrg" name="createOrg" class="button">
      <input type="hidden" name="result" value="">
    </form>
    <% if(typeof orgNameExists !== 'undefined'){%>
      <div><%= orgNameExists %></div>
    <% } %>
    <div id="memberList">
      <% if(typeof selectedNickNames !== 'undefined') { %>
        選択されたユーザー
        <% for(var i = 0; i < selectedNickNames.length; i++){ %>
          <div><%= selectedNickNames[i] %><%= selectedUserNames[i] %><input type="button" value="削除" name="<%= selectedUserNames[i] %>" class="deleteButton"></div>
        <% } %>
      <% } %>
    </div>

    <form action="/PHH_Bookmark/createOrganization/searchUser" method="post" name="searchUser">
      <input type="hidden" name="result">
      <input type="hidden" name="orgName">
      <input type="hidden" name="orgIntroduction">
    </form>

    <form action="/PHH_Bookmark/createOrganization/selectUser" method="post" name="selectUser">
      <input type="hidden" name="result">
      <input type="hidden" name="orgName">
      <input type="hidden" name="orgIntroduction">
    </form>

    <form action="/PHH_Bookmark/createOrganization/excludeUser" method="post" name="excludeUser">
      <input type="hidden" name="result">
      <input type="hidden" name="orgName">
      <input type="hidden" name="orgIntroduction">
    </form>

  </body>
</html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
$(function(){
  var $searchUser = $('#searchUser');
  var $invitedUser = $('#invitedUser');
  var $set = $('.set');
  var $orgName = $('#orgName');
  var $orgIntroduction = $('#orgIntroduction');
  var $mainForm = $('#mainForm');
  var $createOrg = $('#createOrg');
  var $deleteButton = $('.deleteButton');
  var beSetUsers = [];
  var $button = $(".button");
  $button.click(function(){
    this.disabled = true;
    this.form.submit();
  });
  $searchUser.click(function(){
    $invitedUser = $invitedUser.val();
    $orgName = $orgName.val();
    $orgIntroduction = $orgIntroduction.val();
    document.searchUser.result.value = $invitedUser;
    document.searchUser.orgName.value = $orgName;
    document.searchUser.orgIntroduction.value = $orgIntroduction;
    document.searchUser.submit();
  });
  $set.click(function(){
    var beSetUser = this.name;
    $orgName = $orgName.val();
    $orgIntroduction = $orgIntroduction.val();
    beSetUser = beSetUser.split(',');
    document.selectUser.result.value = beSetUser;
    document.selectUser.orgName.value = $orgName;
    document.selectUser.orgIntroduction.value = $orgIntroduction;
    document.selectUser.submit();
  });
  $deleteButton.click(function(){
    document.excludeUser.result.value = this.name;
    document.excludeUser.orgName.value = $orgName.val();
    document.excludeUser.orgIntroduction.value = $orgIntroduction.val();
    document.excludeUser.submit();
  });
});
</script>
