<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Account - PHHB</title>
    <link rel="stylesheet" type="text/css" href="/css/createAccount.css">
  </head>
  <body>
    <% include layout %>
    <main>
      <form action="/PHH_Bookmark/createAccount" method="post">
        <h2>Create an Account</h2>
        <label><p class="read">Email Address</p><input name="email" type="text" placeholder="メールアドレスを入力してください"></label>
        <% if (typeof eMailExists !== 'undefined') { %>
          <p><%= eMailExists %></p>
        <% } %>
        <% if (typeof mailNotice !== 'undefined') { %>
          <p class="error"><%= mailNotice %></p>
        <% } %>
        <label><p class="read">Username</p><input name="user_name" type="text" placeholder="ユーザーネームを入力してください"></label>
        <% if(typeof userNameExists !== 'undefined'){ %>
          <p><%= userNameExists %></p>
        <% } %>
        <% if (typeof usernameNotice !== 'undefined') { %>
          <p class="error"><%= usernameNotice %></p>
        <% } %>
        <label><p class="read">Password</p><input name="password" type="password" placeholder="パスワードを入力してください"></label>
        <label><p class="read">Again Password</p><input name="again_password" type="password" placeholder="もう一度パスワードを入力してください"></label>
        <% if (typeof passwordNotice !== 'undefined') { %>
          <p class="error"><%= passwordNotice %></p>
        <% } %>
        <input id="submitBtn" type="submit" value="Create an account" class="button">
      </form>
    </main>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      $(function(){
        var $email = $('[name="email"]');
        var $userName = $('[name="user_name"]');
        var $button = $(".button");
        var $password = $('[name="password"]');
        var $againPassword = $('[name="again_password"]');
        var checkForm = /^[a-zA-Z0-9]+$/;
        var checkEmail = /^([a-zA-Z0-9])+([a-zA-Z0-9\._-])*@([a-zA-Z0-9_-])+([a-zA-Z0-9\._-]+)+$/;

        $button.click(function(){
          this.disabled = true;
          this.form.submit();
        });
        $email.keyup(function(){
          var email = $email.val();
          $('#emailNotice').detach();
          if(!checkEmail.test(email)) $email.after('<p id="emailNotice">正しいメールアドレスを入力してください</p>');
        });
        $userName.keyup(function(){
          var userName = $userName.val();
          $('#userNameNotice').detach();
          if(!checkForm.test(userName) || userName.length > 16) $userName.after('<p id="userNameNotice">ユーザーネームは半角英数16文字以下です</p>');
        });
        $password.keyup(function(){
          var password = $password.val();
          $('#passwordNotice').detach();
          if(!checkForm.test(password) || password.length < 8) $password.after('<p id="passwordNotice">パスワードは半角英数８文字以上です</p>');
        });
        $againPassword.keyup(function(){
          var againPassword = $againPassword.val();
          var password = $password.val();
          $('#againPasswordNotice').detach();
          if(againPassword !== password) $againPassword.after('<p id="againPasswordNotice">パスワードが一致しません</p>');
        });
      });
    </script>
  </body>
</html>
