<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2><%= orgName %></h2>
    <img src="<%= orgThumbnail %>">
    <div><%= orgIntroduction %></div>
    <% if(typeof memberUserNames !== 'undefined'){%>
      <% for(var i = 0; i < memberUserNames.length; i ++){ %>
        <div><%= memberNickNames[i] %><%= memberUserNames[i] %></div>
      <% } %>
    <% } %>
    <form action="/PHH_Bookmark/membersManagement/searchUser" method="post">
      <input type="text" placeholder="ユーザー名を入力" name="searchedUser">
      <input type="submit" value="検索">
    </form>
    <% if(typeof searchedUserNames !== 'undefined'){ %>
      <div>検索にヒットしたユーザー</div>
      <% for(var i = 0; i < searchedUserNames.length; i++){ %>
        <div><%= searchedUserNickNames[i] %><%= searchedUserNames[i] %>
        <input type="button" value="決定" class="select" name="<%= searchedUserNames[i] %>,<%= searchedUserNickNames[i] %>">
        </div>
      <% } %>
    <% } %>
  </body>
</html>
