<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Members Management - PHHB</title>
    <link rel="stylesheet" type="text/css" href="/css/membersManagement.css">
  </head>
  <body>
    <% include layout %>
    <main>
      <div id="all">
        <div id="org">
          <div id="img">
            <a name="<%= orgId %>" class="orgId"><img src="<%= orgThumbnail %>"></a>
          </div>
          <div id="nameintro">
            <h2 id="orgName"><a name="<%= orgId%>" class="orgId"><%= orgName %></a></h2>
            <div id="introduction">
              <%= orgIntroduction %>
            </div>
            <a href="/PHH_Bookmark/switchAuthority"><button id="management">権限管理ページへ</button></a>
          </div>
        </div>




        <p id="pagetitle">メンバー管理</p><img id="helpimg" src="/img/help.png">

        <div id="search">
          <p id="inviteExplain" class="headline">ユーザーを招待する</p>
          <p id="inviteExplainBody">ユーザー名でユーザーを検索して、ユーザーを新たに組織に追加することができます</p>
          <form action="/PHH_Bookmark/membersManagement/searchUser" method="post">
            <input id="searchForm" type="text" placeholder="ユーザー名を入力" name="searchedUser">
            <input type="submit" value="検索">
          </form>

          <div id="searchHit">
            <% if(typeof searchedUsers !== 'undefined'){ %>
              <div>検索結果</div>
              <div id="searchList">
              <% for(var i = 0; i < searchedUsers.length; i++){ %>
                <div class="searchListUN"><%= searchedUsers[i].nick_name %>(<%= searchedUsers[i].name %>)
                <input type="button" value="招待" class="select" name="<%= searchedUsers[i].name %>,<%= searchedUsers[i].nick_name %>">
                </div>
              <% } %>
              </div>
            <% } %>
          </div>

        </div>

        <div id="memberList">
          <% if(typeof memberUserNames !== 'undefined'){%>
            <p class="headline">メンバー一覧</p>
            <% for(var i = 0; i < memberUserNames.length; i ++){ %>
              <div class="members">
                <p class="memberName"><%= memberNickNames[i] %>(<%= memberUserNames[i] %>)</p>
                <% if(memberUserNames[i] === myUserName){ %>
                  <input type="button" value="脱退" id="leave">
                <% } else { %>
                  <input type="button" value="除名" class="expel" name="<%= memberUserNames[i] %>">
                <% } %>
              </div>
            <% } %>
          <% } %>
        </div>

        <% if (typeof authorityNotice !== 'undefined'){ %>
          <%= authorityNotice %>
        <% } %>
        <% if(typeof notice !== 'undefined'){ %>
          <div id="notice"><%= notice %></div>
        <% } %>

        <div id="checkUser">
          <% if(typeof selectedUserNames !== 'undefined' && selectedUserNames.length > 0){ %>
            <div> 選択したユーザー</div>
            <% for(var i = 0; i < selectedUserNames.length; i++){ %>
              <div><%= selectedNickNames[i] %><%= selectedUserNames[i] %>
                <input type="button" value="招待" id="makeJoin">
                <input type="button" value="削除" class="exclude" name="<%= selectedUserNames[i] %>,<%= selectedNickNames[i] %>">
              </div>
            <% } %>
          <% }%>
        </div>

        <div id="clear"></div>

      </div>

      <form action="/PHH_Bookmark/membersManagement/selectUser" method="post" name="selectUser">
        <input type="hidden" name="result">
      </form>

      <form action="/PHH_Bookmark/membersManagement/excludeUser" method="post" name="excludeUser">
        <input type="hidden" name="result">
      </form>

      <form action="/PHH_Bookmark/membersManagement/makeJoin" method="post" name="makeJoin">
      </form>

      <form action="/PHH_Bookmark/membersManagement/expelUser" method="post" name="expelUser">
        <input type="hidden" name="result">
      </form>

      <form action="/PHH_Bookmark/membersManagement/leave" method="post" name="leave">
      </form>

      <form action="/PHH_Bookmark/organizationPage/submitOrgId" method="post" name="submitOrgId">
        <input type="hidden" name="result">
      </form>
    </main>
  </body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
  $(function(){
    var $selectButton = $('.select');
    var $excludeButton = $('.exclude');
    var $makeJoinButton = $('#makeJoin');
    var $expelButton = $('.expel');
    var $leaveButton = $('#leave');
    var $button = $(".button");
    var $helpimg = $('#helpimg');
    var $inviteExplainBody = $('#inviteExplainBody');
    var $orgId = $('.orgId');

    $inviteExplainBody.css('display', 'none');

    $button.click(function(){
      this.disabled = true;
      this.form.submit();
    });
    $selectButton.click(function(){
      document.selectUser.result.value = this.name;
      document.selectUser.submit();
    });
    $excludeButton.click(function(){
      document.excludeUser.result.value = this.name;
      document.excludeUser.submit();
    });
    $makeJoinButton.click(function(){
      document.makeJoin.submit();
    });
    $expelButton.click(function(){
      document.expelUser.result.value = this.name;
      document.expelUser.submit();
    });
    $leaveButton.click(function(){
      document.leave.submit();
    });
    $orgId.click(function(){
      document.submitOrgId.result.value = this.name;
      document.submitOrgId.submit();
    });
    $helpimg.hover(function(){
      $helpimg.after('<p id="displayHelp">ヘルプを表示</p>');
    }, function(){
      $('#displayHelp').detach();
    });
    $helpimg.click(function(){
      $inviteExplainBody[0].style.display === 'none' ? $inviteExplainBody.css('display', 'inline') : $inviteExplainBody.css('display', 'none');
    });
    document.body.addEventListener('click',function(e){
      var mouseX = e.pageX;
      var mouseY = e.pageY;
      console.log("x" + mouseX);
      console.log("y" + mouseY);
    });
  });
  </script>
</html>
