<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>myBookmarkEdit - PHHB</title>
    <link rel="stylesheet" type="text/css" href="/css/myBookmarkEdit.css">
  </head>
  <body>
    <% include layout %>
    <div id="search">
      <button>検索</button>
      <input type="text">
    </div>
    <main>
      <div id="organization"></div>
      <div id="list">
        <form accept-charset="UTF-8" action="/PHH_Bookmark/myBookmarkEdit" method="post">
            <!--<input type="text" placeholder="URLを入力" id="url" name="new_bookmark_url">-->
          <% if(typeof url !== 'undefined'){ %>
            <%= url %>
          <% } %>
          <input type="text" placeholder="タイトル" value="<%= title %>" id="title" name="title">
          <% if(typeof tooLongTitle !== 'undefined'){ %>
            <p><%= tooLongTitle %></p>
          <% } %>
          <% if(typeof titleNotice !== 'undefined'){ %>
            <p><%= titleNotice %></p>
          <% } %>
          <% if(typeof description !== 'undefined'){ %>
              <input type="text" placeholder="説明" value="<%= description %>" name="description">
          <% }else{ %>
            <input type="text" placeholder="説明" id="description" name="description">
          <% } %>
          <% if(typeof tooLongDescription !== 'undefined'){ %>
            <p><%= tooLongDescription %></p>
          <% } %>
          <% if(typeof descriptionNotice !== 'undefined'){ %>
            <p><%= descriptionNotice %></p>
          <% } %>
          <input type="submit" value="送信">
        </form>
        <% if (typeof user !== 'undefined') { %>
          <span class="login-user"><%= user.name %>さんとしてログインしています</span>
        <% } %>
      </div>
    </main>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- <script src="/test.js"></script> -->
  </body>
</html>
