<!DOCTYPE html>
<html>
<<<<<<< HEAD
  <head>
    <meta charset="utf-8">
    <title>My Page - PHHB</title>
    <link rel="stylesheet" type="text/css" href="/myPage.css">
  </head>
  <body>
    <% include layout %>
    <main>
      <div id="organization"></div>
      <div id="search">
        <button>検索</button>
        <input type="text">
      </div>
      <div id="list">
        <form action="/PHH_Bookmark/myPage" method="post">
          <input type="text" placeholder="URLを入力" id="url" name="new_bookmark_url">
          <!--<input type="text" placeholder="タイトル" id="title" name="title">
          <input type="text" placeholder="コメント" id="description" name="description">-->
          <input type="submit" value="送信">
        </form>
        <form name="my_bookmark" action="/PHH_Bookmark/myPage/delete" method="post">
          <% for(var i = 0; i < list.length; i++){ %>
            <div>
              <input type="checkbox" class="checkbox" name="<%= bookmark_id[i] %>">
              <a name="bookmarkId<%= bookmark_id[i]%>">%>"><%= list[i].title %></a>
              <a href="<%= list[i].url %>"><%= list[i].url %></a><%= list[i].description %>
              <input type="button" value="編集" name="id<%= bookmark_id[i] %>">
            </div>
          <% }; %>
          <button type="submit">削除</button>
        </form>
        <form name="toEdit" action="/PHH_Bookmark/myPage/edit" method="post">
          <input type="hidden" name="result" value="">
        </form>
        <form name="toSubmitBookmarkData" action="/PHH_Bookmark/submitBookmarkData" method="post">
          <input type="hidden" name="result">
        </form>
        <% if (typeof user !== 'undefined') { %>
          <span class="login-user"><%= user.name %>さんとしてログインしています</span>
        <% } %>
      </div>
    </main>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      $(function(){
        var $edit = $("[name^='id']");
        var $bookmarkId = $("[name^='bookmarkId']");
        console.log($edit);
        $edit.click(function(){
          document.toEdit.result.value = this.name;
          document.toEdit.submit();
        });
        $bookmarkId.click(function(){
          document.toSubmitBookmarkData.result.value = this.name;
          document.toSubmitBookmarkData.submit();
        });
      });
    </script>
  </body>
</html>
