<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Page - PHHB</title>
    <!--link rel="stylesheet" type="text/css" href="/css/myPage.css"-->
  </head>
  <body>
    <% include layout %>
    <main>
      <h2 id="read">URLを入力してブックマークを登録</h2>
      <div id="organization"></div>
      <div id="search">
        <form action="/PHH_Bookmark/myPage/bookmarkList/<%= index %>/searchBookmarkList/1" method="post">
          <div id="searchCheck">
          <input type="checkbox" checked="checked" name="searchFromTitle"><div id="titleCheck">タイトル</div>
          <input type="checkbox" name="searchFromDescription"><div id="descriptionCheck">説明文</div>
          <input type="checkbox" name="searchFromTextsOnSites"><div id="textCheck">URL先のテキスト</div>
          <input type="text" placeholder="検索ワードを入力" name="keyWord">
          <input type="submit" value="検索" class="button">
        </form>
      </div>
      <% if(typeof keyWordNotice !== 'undefined'){ %>
        <p><%= keyWordNotice %></p>
      <% } %>
      <% if(typeof searchedBookmarkData !== 'undefined'){ %>
        <div id="searchResult">
        <p>検索結果</p>
        <% if(searchedBookmarkData.length > 0){ %>
          <% for(var i = 0; i < searchedBookmarkData.length; i++){ %>
            <a href="/PHH_Bookmark/bookmarkPage"><%= searchedBookmarkData[i].title %></a><a href="<%= searchedBookmarkData[i].url%>"><%= searchedBookmarkData[i].url%></a>
            <%= searchedBookmarkData[i].description %>
          <% } %>
          <% if(searchIndex !== 1){ %>
            <% var searchHeadUrl = "/PHH_Bookmark/myPage/bookmarkList/" + index + "/searchBookmarkList/1"; %>
            <a href="<%= searchHeadUrl %>">先頭へ</a>
          <% } %>
          <% if(searchIndex !== 1){ %>
            <% var searchBackIndex = searchIndex - 1; %>
            <% var searchBackUrl = "/PHH_Bookmark/myPage/bookmarkList/" + index + "/searchBookmarkList/" + searchBackIndex; %>
            <a href="<%= searchBackUrl %>">前へ</a>
          <% } %>
          <p><%= searchIndex %>ページ / <%= searchPageLength %>ページ中</p>
          <% if(searchIndex !== searchPageLength){ %>
            <% var searchNextIndex = searchIndex + 1; %>
            <% var searchNextUrl = "/PHH_Bookmark/myPage/bookmarkList/" + index + "/searchBookmarkList/" + searchNextIndex; %>
            <a href="<%= searchNextUrl %>">次へ</a>
          <% } %>
          <% if(searchIndex !== searchPageLength){ %>
            <% var searchEndUrl = "/PHH_Bookmark/myPage/bookmarkList/" + index + "/searchBookmarkList/" + searchPageLength; %>
            <a href="<%= searchEndUrl %>">末尾へ</a>
          <% } %>
        <% }else{ %>
          <p>一致する項目が見つかりませんでした。</p>
        <% } %>
      <% } %>
      </div>

      <div id="list">
        <div id="inputBookmark">
          <form action="/PHH_Bookmark/myPage/bookmarkList/<%= index %>" method="post">
            <% if(typeof url !== 'undefined'){ %>
              <input type="text" placeholder="URLを入力" name="url" value="<%= url %>" id="url">
              <input type="button" value="再送信" name="submitUrl" id="submitUrl">
            <% }else{ %>
              <input type="text" placeholder="URLを入力" name="url" id="url">
              <input type="button" value="送信" name="submitUrl" id="submitUrl">
            <% } %>
            <% if(typeof urlNotice !== 'undefined'){ %>
              <p id="urlNotice"><%= urlNotice %></p>
            <% } %>
            <% if(typeof networkNotice !== 'undefined'){ %>
              <p><%= networkNotice %></p>
            <% } %>
            <% if(typeof title !== 'undefined'){ %>
              <input id="title" type="text" placeholder="タイトル" name="title" value="<%= title %>">
            <% } %>
            <% if(typeof description !== 'undefined'){ %>
              <input type="text" placeholder="コメント" id="description" name="description" value="<%= description %>">
              <input type="submit" value="送信" class="button">
            <% }else if(typeof url !== 'undefined'){ %>
              <input type="text" placeholder="コメント" id="description" name="description">
              <input id="submit" type="submit" value="送信" class="button">
            <% } %>
            <% if(typeof titleNotice !== 'undefined'){ %>
              <p id="titleNotice"><%= titleNotice %></p>
            <% } %>
            <% if(typeof descriptionNotice !== 'undefined'){ %>
              <p id="descNotice"><%= descriptionNotice %></p>
            <% } %>
          </form>
        </div>
        <% if(typeof orgData !== 'undefined'){ %>
          <% for(var i = 0; i < orgData.length; i++){ %>
            <div class="thumbnail">
              <img src="<%= orgData[i].image_path %>">
            </div>
            <a class="orgName" name="<%= orgData[i].id %>"><%= orgData[i].name %></a>
            <div><%= orgData[i].introduction %></div>
          <% } %>
        <% } %>
        <% if(typeof descriptionNotice !== 'undefined'){ %>
          <p><%= descriptionNotice %></p>
        <% } %>
        </form>
        <form name="my_bookmark" action="/PHH_Bookmark/myPage/delete" method="post">
          <% for(var i = 0; i < bookmarkData.length; i++){ %>
              <input type="checkbox" class="checkbox" name="<%= bookmarkData[i].bookmark_id %>">
              <a name="bookmarkId<%= bookmarkData[i].bookmark_id%>"><%= bookmarkData[i].title %></a>
              <a href="<%= bookmarkData[i].url %>"><%= bookmarkData[i].url %></a><span id="description"><%= bookmarkData[i].description %></span>
              <% if(typeof bookmarkData[i].numberOfComments !== 'undefined'){ %>
                コメント<%= bookmarkData[i].numberOfComments %>件
              <% }else{ %>
                コメント0件
              <% } %>
              <input type="button" value="編集" name="<%= bookmarkData[i].bookmark_id %>" class="edit">
          <% } %>
          <button type="submit" class="button">削除</button>
        </form>
        <% if(bookmarkData.length > 0){ %>
          <% if(index !== 1){ %>
            <% var headUrl = "/PHH_Bookmark/myPage/bookmarkList/1/searchBookmarkList/" + searchIndex; %>
            <a href="<%= headUrl %>">先頭へ</a>
          <% } %>
          <% if(index !== 1){ %>
            <% var backIndex = index - 1; %>
            <% var backUrl = "/PHH_Bookmark/myPage/bookmarkList/" + backIndex + "/searchBookmarkList/" + searchIndex; %>
            <a href="<%= backUrl %>">前へ</a>
          <% } %>
          <p><%= index %>ページ / <%= pageLength %>ページ中</p>
          <% if(index !== pageLength){ %>
            <% var nextIndex = index + 1; %>
            <% var nextUrl = "/PHH_Bookmark/myPage/bookmarkList/" + nextIndex + "/searchBookmarkList/" + searchIndex; %>
            <a href="<%= nextUrl %>">次へ</a>
          <% } %>
          <% if(index !== pageLength){ %>
            <% var endUrl = "/PHH_Bookmark/myPage/bookmarkList/" + pageLength + "/searchBookmarkList/" + searchIndex; %>
            <a href="<%= endUrl %>">末尾へ</a>
          <% } %>
        <% } %>
        <form name="toEdit" action="/PHH_Bookmark/myBookmarkEdit" method="get">
          <input type="hidden" name="result">
        </form>
        <form name="toSubmitBookmarkData" action="/PHH_Bookmark/submitBookmarkData" method="post">
          <input type="hidden" name="result">
        </form>
        <form action="/PHH_Bookmark/myPage/bookmarkList/<%= index %>/submitUrl" name="submitUrl" method="post">
          <input type="hidden" name="result">
        </form>
        <form name="submitOrgId" action="/PHH_Bookmark/organizationPage/submitOrgId" method="post">
          <input type="hidden" name="result">
        </form>
        <% if(typeof user !== 'undefined'){ %>
          <span class="login-user"><%= user.name %>さんとしてログインしています</span>
        <% } %>
      </div>
    </main>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      $(function(){
        var $edit = $(".edit");
        var $bookmarkId = $("[name^='bookmarkId']");
        var $submitUrlButton = $('#submitUrl');
        var $url = $('#url');
        var $orgName = $(".orgName");
        var $button = $(".button");
        var $titleCheck = $('#titleCheck');
        var $descriptionCheck = $('#descriptionCheck');
        var $textCheck = $('#textCheck');
        var $titleCheckBox = $('[name="searchFromTitle"]');
        var $descriptionCheckBox = $('[name="searchFromDescription"]');
        var $textCheckBox = $('[name="searchFromTextsOnSites"]');

        $edit.click(function(){
          document.toEdit.result.value = this.name;
          document.toEdit.submit();
        });
        $bookmarkId.click(function(){
          document.toSubmitBookmarkData.result.value = this.name;
          document.toSubmitBookmarkData.submit();
        });
        $submitUrlButton.click(function(){
          document.submitUrl.result.value = $url.val();
          document.submitUrl.submit();
        });
        $orgName.click(function(){
          document.submitOrgId.result.value = this.name;
          document.submitOrgId.submit();
        });
        $button.click(function(){
          this.disabled = true;
          this.form.submit();
        });
        $titleCheck.click(function(){
          $titleCheckBox.click();
        });
        $descriptionCheck.click(function(){
          $descriptionCheckBox.click();
        });
        $textCheck.click(function(){
          $textCheckBox.click();
        })
      });
    </script>
  </body>
</html>
