<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Page - PHHB</title>
    <link rel="stylesheet" type="text/css" href="/css/myPage.css">
  </head>
  <body>
    <% include layout %>
    <main>
      <div id="organization"></div>
      <div id="search">
        <button>検索</button>
        <input type="text">
      </div>
      <div id="list">
        <form action="/PHH_Bookmark/myPage" method="post">
          <input type="text" placeholder="URLを入力" id="url" name="new_bookmark_url">
          <!--<input type="text" placeholder="タイトル" id="title" name="title">
          <input type="text" placeholder="コメント" id="description" name="description">-->
          <input type="submit" value="送信">
          <% if (typeof urlNotice !== 'undefined') { %>
            <p><%= urlNotice %></p>
          <% if(typeof url !== 'undefined'){ %>
            <input type="text" placeholder="URLを入力" name="url" value="<%= url %>" id="url">
            <input type="button" value="再送信" name="submitUrl" id="submitUrl">
            <% if (typeof urlNotice !== 'undefined') { %>
              <p><%= urlNotice %></p>
            <% } %>
          <%} else {%>
            <input type="text" placeholder="URLを入力" name="url" id="url">
            <input type="button" value="送信" name="submitUrl" id="submitUrl">
          <% } %>

          <% if(typeof title !== 'undefined'){ %>
            <input type="text" placeholder="タイトル" name="title" value="<%= title %>">
            <input type="text" placeholder="コメント" id="description" name="description">
            <input type="submit" value="送信">
          <% } %>
        </form>
        <form name="my_bookmark" action="/PHH_Bookmark/myPage/delete" method="post">
          <% for(var i = 0; i < bookmarkData.length; i++){ %>
            <div>
              <input type="checkbox" class="checkbox" name="<%= bookmarkData[i].bookmark_id %>">
              <a name="bookmarkId<%= bookmarkData[i].bookmark_id%>"><%= bookmarkData[i].title %></a>
              <a href="<%= bookmarkData[i].url %>"><%= bookmarkData[i].url %></a><%= bookmarkData[i].description %>
              <input type="button" value="編集" name="<%= bookmarkData[i].bookmark_id %>" class="edit">
            </div>
          <% }; %>
          <button type="submit">削除</button>
        </form>
        <form name="toEdit" action="/PHH_Bookmark/myBookmarkEdit" method="get">
          <input type="hidden" name="result">
        </form>
        <form name="toSubmitBookmarkData" action="/PHH_Bookmark/submitBookmarkData" method="post">
          <input type="hidden" name="result">
        </form>
        <form action="/PHH_Bookmark/myPage/submitUrl" name="submitUrl" method="post">
          <input type="hidden" name="result">
        </form>
        <% if (typeof user !== 'undefined') { %>
          <span class="login-user"><%= user.name %>さんとしてログインしています</span>
        <% } %>
      </div>
    </main>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      $(function(){
        var $edit = $(".edit");
        var $bookmarkId = $("[name^='bookmarkId']");
        var $submitUrlButton = $('#submitUrl');
        var $url = $('#url');
        $edit.click(function(){
          document.toEdit.result.value = this.name;
          document.toEdit.submit();
        });
        $bookmarkId.click(function(){
          document.toSubmitBookmarkData.result.value = this.name;
          document.toSubmitBookmarkData.submit();
        });
        $submitUrlButton.click(function(){
          document.submitUrl.result.value = $url.val();
          document.submitUrl.submit();
        });
      });
    </script>
  </body>
</html>
