<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Page - PHHB</title>
    <link rel="stylesheet" type="text/css" href="/css/myPage.css">
  </head>
  <body>
    <% include layout %>
    <main>
      <h2 id="read">URLを入力してブックマークを登録</h2>
      <div id="organization"></div>
      <div id="search">
        <form action="/PHH_Bookmark/myPage/searchBookmark" method="post">
          <div id="searchCheck">
            <input type="checkbox" checked="checked" name="searchFromTitle">タイトル
            <input type="checkbox" name="searchFromDescription">説明文
            <input type="checkbox" name="searchFromTextsOnSites">URL先のテキスト
          </div>
          <input type="text" placeholder="検索ワードを入力" name="keyWord">
          <input type="submit" value="検索">
        </form>
      </div>
      <% if(typeof keyWordNotice !== 'undefined'){ %>
        <p><%= keyWordNotice %></p>
      <% } %>
      <% if(typeof searchedBookmarks !== 'undefined'){ %>
        <div id="searchResult">
          <p>検索結果</p>
          <% if(searchedBookmarks.length > 0){ %>
            <% for(var i = 0; i < searchedBookmarks.length; i++){ %>
              <a href="/PHH_Bookmark/bookmarkPage"><%= searchedBookmarks[i].title %></a><a href="<%= searchedBookmarks[i].url%>"><%= searchedBookmarks[i].url%></a>
              <%= searchedBookmarks[i].description %>
            <% } %>
          <% }else{ %>
            <p>一致する項目は見つかりませんでした。</p>
          <% } %>
        <% } %>
      </div>
      <div id="list">
        <div id="inputBookmark">
          <form action="/PHH_Bookmark/myPage" method="post">
            <% if(typeof url !== 'undefined'){ %>
              <input type="text" placeholder="URLを入力" name="url" value="<%= url %>" id="url">
              <input type="button" value="再送信" name="submitUrl" id="submitUrl">
            <% }else{ %>
              <input type="text" placeholder="URLを入力" name="url" id="url">
              <input type="button" value="送信" name="submitUrl" id="submitUrl">
            <% } %>
            <% if(typeof urlNotice !== 'undefined'){ %>
              <p id="urlNotice"><%= urlNotice %></p>
            <% } %>
            <% if(typeof title !== 'undefined'){ %>
              <input id="title" type="text" placeholder="タイトル" name="title" value="<%= title %>">
            <% } %>
            <% if(typeof description !== 'undefined'){ %>
              <input type="text" placeholder="コメント" id="description" name="description" value="<%= description %>">
              <input type="submit" value="送信">
            <% }else if(typeof url !== 'undefined'){ %>
              <input type="text" placeholder="コメント" id="description" name="description">
              <input id="submit" type="submit" value="送信">
            <% } %>
            <% if(typeof titleNotice !== 'undefined'){ %>
              <p id="titleNotice"><%= titleNotice %></p>
            <% } %>
            <% if(typeof descriptionNotice !== 'undefined'){ %>
              <p id="descNotice"><%= descriptionNotice %></p>
            <% } %>
          </form>
        </div>
        <div id="bookmark">
          <form name="my_bookmark" action="/PHH_Bookmark/myPage/delete" method="post">
            <% for(var i = 0; i < bookmarkData.length; i++){ %>
              <% if(i % 2 === 0){ %>
                <div id="bookmark1">
                  <input class="checkbox" type="checkbox" name="<%= bookmarkData[i].bookmark_id %>">
                  <input class="edit" type="button" value="編集" name="<%= bookmarkData[i].bookmark_id %>">
                  <ol>
                    <li><a class="title" name="bookmarkId<%= bookmarkData[i].bookmark_id%>"><%= bookmarkData[i].title %></a></li>
                    <li><a class="url" href="<%= bookmarkData[i].url %>"><%= bookmarkData[i].url %></a></li>
                    <li><div class="description"><%= bookmarkData[i].description %></div></li>
                  </ol>
                </div>
              <% }else{ %>
                <div id="bookmark2">
                  <input class="checkbox" type="checkbox" name="<%= bookmarkData[i].bookmark_id %>">
                  <input class="edit" type="button" value="編集" name="<%= bookmarkData[i].bookmark_id %>">
                  <ol>
                    <li><a class="title" name="bookmarkId<%= bookmarkData[i].bookmark_id%>"><%= bookmarkData[i].title %></a></li>
                    <li><a class="url" href="<%= bookmarkData[i].url %>"><%= bookmarkData[i].url %></a></li>
                    <li><div class="description"><%= bookmarkData[i].description %></div></li>
                  </ol>
                </div>
              <% } %>
            <% } %>
            <button id="deleteBtn" type="submit">削除</button>
          </form>
          <% if(typeof orgData !== 'undefined'){ %>
            <% for(var i = 0; i < orgData.length; i++){ %>
              <div id="img">
                <img src="<%= orgData[i].image_path %>">
              </div>
              <a class="orgName" name="<%= orgData[i].id %>"><%= orgData[i].name %></a>
              <div><%= orgData[i].introduction %></div>
            <% } %>
          <% } %>
          <% if(typeof descriptionNotice !== 'undefined'){ %>
            <p><%= descriptionNotice %></p>
          <% } %>
        </form>
        <form name="my_bookmark" action="/PHH_Bookmark/myPage/delete" method="post">
          <% for(var i = 0; i < bookmarkData.length; i++){ %>
            <div>
              <input type="checkbox" class="checkbox" name="<%= bookmarkData[i].bookmark_id %>">
              <a name="bookmarkId<%= bookmarkData[i].bookmark_id%>"><%= bookmarkData[i].title %></a>
              <a href="<%= bookmarkData[i].url %>"><%= bookmarkData[i].url %></a><span id="description"><%= bookmarkData[i].description %></span>
              <input type="button" value="編集" name="<%= bookmarkData[i].bookmark_id %>" class="edit">
            </div>
          <% } %>
          <button type="submit">削除</button>
        </form>
        <% if(typeof orgData !== 'undefined'){ %>
          <% for(var i = 0; i < orgData.length; i++){ %>
            <img src="<%= orgData[i].image_path %>">
            <a class="orgName" name="<%= orgData[i].id %>"><%= orgData[i].name %></a>
            <div><%= orgData[i].introduction %></div>
          <% } %>
        <% } %>
        <form name="toEdit" action="/PHH_Bookmark/myBookmarkEdit" method="get">
          <input type="hidden" name="result">
        </form>
        <form name="toSubmitBookmarkData" action="/PHH_Bookmark/submitBookmarkData" method="post">
          <input type="hidden" name="result">
        </form>
        <form action="/PHH_Bookmark/myPage/submitUrl" name="submitUrl" method="post">
          <input type="hidden" name="result">
        </form>
        <form name="submitOrgId" action="/PHH_Bookmark/organizationPage/submitOrgId" method="post">
          <input type="hidden" name="result">
        </form>
        <% if(typeof user !== 'undefined'){ %>
          <span class="login-user"><%= user.name %>さんとしてログインしています</span>
        <% } %>
      </div>
    </main>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      $(function(){
        var $edit = $(".edit");
        var $bookmarkId = $("[name^='bookmarkId']");
        var $submitUrlButton = $('#submitUrl');
        var $url = $('#url');
        var $orgName = $(".orgName");
        $edit.click(function(){
          document.toEdit.result.value = this.name;
          document.toEdit.submit();
        });
        $bookmarkId.click(function(){
          document.toSubmitBookmarkData.result.value = this.name;
          document.toSubmitBookmarkData.submit();
        });
        $submitUrlButton.click(function(){
          document.submitUrl.result.value = $url.val();
          document.submitUrl.submit();
        });
        $orgName.click(function(){
          document.submitOrgId.result.value = this.name;
          document.submitOrgId.submit();
        })
      });
    </script>
  </body>
</html>
