<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Page - PHHB</title>
    <link rel="stylesheet" type="text/css" href="/myPage.css">
  </head>
  <body>
    <header>
      <div id="headerMenu">
        <a id="headerFavicon" href="/PHH_Bookmark/topPage"><img src="/img/favicon.png"></a>
        <input id="headerSearch" type="text" placeholder="Search Bookmarks">
        <% if (typeof userName !== 'undefined' && typeof nickName !== 'undefined') { %>
          <span id="headerLoginUser"><%= nickName%><div id="headerUserName">(<%= userName %>)</div></span>
        <% } %>
        <a id="headerMyImg" href="/PHH_Bookmark/myProfile"><img src="http://res.cloudinary.com/dy4f7hul5/image/upload/v1469676799/iucwtxf12o9ztvb3tm14.png"></a>
        <div id="headerOpenMenu" onclick="obj=document.getElementById('headerMenuList').style; obj.display=(obj.display=='none')?'block':'none';">
          <a style="cursor:pointer;">▼</a>
        </div>
        <div id="headerMenuList" style="display:none;clear:both;">
          <a id="headerMyPage" href="/PHH_Bookmark/myPage"><li>My page</li></a>
          <a id="headerSettings" href="/PHH_Bookmark/myProfileEdit"><li>Settings</li></a>
          <a id="headerLogout" href="/PHH_Bookmark/logout"><li>Logout</li></a>
        </div>
      </div>
    </header>
    <main>
      <div id="organization"></div>
      <div id="search">
        <button>検索</button>
        <input type="text">
      </div>
      <div id="list">
        <form action="/PHH_Bookmark/myPage" method="post">
          <input type="text" placeholder="URLを入力" id="url" name="new_bookmark_url">
          <!--<input type="text" placeholder="タイトル" id="title" name="title">
          <input type="text" placeholder="コメント" id="description" name="description">-->
          <input type="submit" value="送信">
        </form>
        <form name="my_bookmark" action="/PHH_Bookmark/myPage/delete" method="post">
          <% for(var i = 0; i < list.length; i++){ %>
            <div>
              <input type="checkbox" class="checkbox" name="<%= bookmark_id[i] %>">
              <a href="<%= list[i].url %>"><%= list[i].title %></a><%= list[i].description %>
              <input type="button" value="編集" name="id<%= bookmark_id[i] %>">
            </div>
          <% }; %>
          <button type="submit">削除</button>
        </form>
        <form name="toEdit" action="/PHH_Bookmark/myPage/edit" method="post">
          <input type="hidden" name="result" value="">
        </form>
        <% if (typeof user !== 'undefined') { %>
          <span class="login-user"><%= user.name %>さんとしてログインしています</span>
        <% } %>
      </div>
    </main>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      $(function(){
        var $edit = $("[name^='id']");
        console.log($edit);
        $edit.click(function(){
          document.toEdit.result.value = this.name;
          document.toEdit.submit();
        });
      });
    </script>
  </body>
</html>
