<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Profile Edit - PHHB</title>
    <link rel="stylesheet" type="text/css" href="/css/myProfileEdit.css">
  </head>
  <body>
    <% include layout %>
    <main>
      <p id="pageTitle">プロフィールを編集する</p>
      <form action="/PHH_Bookmark/myProfileEdit" method="post" enctype="multipart/form-data">
        <div>
          <label><p id="readNickname">ニックネーム</p>
          <% if(nickName !== undefined){ %>
            <input class="nickname" type="text" name="nick_name" placeholder="例）PHH 太郎" value="<%= nickName %>">
          <% } else { %>
            <input class="nickname" type="text" name="nick_name" placeholder="PHH 太郎"></label>
          <% } %>
          <% if(typeof nickNameNotice !== 'undefined'){ %>
            <p id="errorNickname"><%= nickNameNotice %></p>
          <% } %>

          <label><p id="readIntro">自己紹介</p>
          <% if(introduction) { %>
            <textarea class="intro" type="text" name="introduction" placeholder="例）PHH 太郎です。プログラミング頑張ります！"><%= introduction %></textarea>
          <% } else { %>
            <textarea class="intro" type="text" name="introduction" placeholder="例）PHH 太郎です。プログラミング頑張ります！"></textarea></label>
          <% } %>
          <% if(typeof introductionNotice !== 'undefined'){ %>
            <p id="errorIntro"><%= introductionNotice %></p>
          <% } %>

          <% if(imagePath) { %>
            <img id="img" src="<%= imagePath %>" width="128" height="128">
          <% } %>
          <div id="imgFile">
            <input type="file" name="image_file" accept="image/*">
            <% if(typeof thumbailNotice !== 'undefined'){%>
              <p><%= thumbailNotice %></p>
            <% } %>
          </div>

          <input id="submit" type="submit" value="変更">
        </div>
      </form>
    </main>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      $(function(){
        var $button = $(".button");
        $button.click(function(){
          this.disabled = true;
          this.form.submit();
        });
      });
    </script>
  </body>
</html>
