<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/myProfileEdit.css">
  </head>
  <body>
    <% include layout %>
    <main>
      <form action="/PHH_Bookmark/myProfileEdit" method="post" enctype="multipart/form-data">
        <div>
          <% if(nickName !== undefined){ %>
            <input type="text" name="nick_name" placeholder="ニックネーム" value="<%= nickName %>">
          <% } else { %>
            <input type="text" name="nick_name" placeholder="ニックネーム">
          <% } %>
          <% if(typeof nickNameNotice !== 'undefined'){ %>
            <p><%= nickNameNotice %></p>
          <% } %>

          <% if(imagePath) { %>
            <img src="<%= imagePath %>" width="128" height="128"></img>
          <% } %>
          <input type="file" name="image_file" accept="image/*">
          <% if(typeof thumbailNotice !== 'undefined'){%>
            <p><%= thumbailNotice %></p>
          <% } %>

          <% if(introduction) { %>
            <input type="text" name="introduction" placeholder="自己紹介文" value="<%= introduction %>">
          <% } else { %>
            <input type="text" name="introduction" placeholder="自己紹介文">
          <% } %>
          <% if(typeof introductionNotice !== 'undefined'){ %>
            <p><%= introductionNotice %></p>
          <% } %>
          <input type="submit" value="送信" class="button">
        </div>
      </form>
    </main>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      $(function(){
        var $button = $(".button");
        $button.click(function(){
          this.disabled = true;
          this.form.submit();
        });
      });
    </script>
  </body>
</html>
