<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2><%= orgName %></h2>
    <img src="<%= orgThumbnail %>">
    <div><%= orgIntroduction %></div>

    <form action="/PHH_Bookmark/organizationMembers/leave" method="post">
      <div>管理者一覧</div>
      <% for(var i = 0; i < selectedAdminData.length; i++){ %>
        <%= selectedAdminData[i].nick_name%><%= selectedAdminData[i].name %>
        <% if(selectedAdminData[i].name === myUserName){ %>
          <input type="submit" value="脱退">
          <% if(typeof cannotLeaveNotice !== 'undefined'){ %>
            <p><%= cannotLeaveNotice %></p>
          <% } %>
        <% } %>
      <% } %>

      <div>一般メンバー一覧</div>
      <% if(typeof selectedNotAdminData !== 'undefined'){ %>
        <% for(var i = 0; i < selectedNotAdminData.length; i++){%>
          <%= selectedNotAdminData[i].nick_name %><%= selectedNotAdminData[i].name %>
          <% if (selectedNotAdminData[i].name === myUserName){ %>
            <input type="submit" value="脱退">
          <% } %>
        <% } %>
      <% } %>
    </form>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </body>
</html>
