<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/organizationManagement.css">
  </head>
  <body>
    <% include layout %>
    <main>
      <form action="/PHH_Bookmark/organizationManagement" method="post" enctype="multipart/form-data">
        <div id="name" class="inputForm">組織名</div>
        <input id="setName" class="inputForm" type="text" value="<%= orgName %>" name="orgName" placeholder="組織名">
        <% if(typeof orgNameNotice !== 'undefined'){ %>
          <p id="errorName"><%= orgNameNotice %></p>
        <% } %>
        <div id="introduction" class="inputForm">紹介文</div>
        <textarea id="setIntro" class="inputForm" name="orgIntroduction" placeholder="紹介文"><%= orgIntroduction%></textarea>
        <% if(typeof orgIntroductionNotice !== 'undefined'){ %>
          <p id="errorIntro"><%= orgIntroductionNotice %></p>
        <% } %>
        <!-- <% if(typeof orgThumbnail !== 'undefined'){%>
          <div id="img">
            <img src="<%= orgThumbnail %>">
          </div>
        <% } %> -->
        <% if(typeof thumbnailNotice !== 'undefined'){%>
          <p><%= thumbnailNotice %></p>
        <% } %>
        <input id="file" class="input" type="file" accept="image/*" name="image_file">
        <input id="submit" type="submit" value="変更">
      </form>
    </main>
    <form action="/PHH_Bookmark/organizationManagement/dissolve" method="post" id="dissolve">
      <input type="button" value="組織を解散" id="dissolveButton">
    </form>
  </body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
    $(function(){
      var $button = $(".button");
      var $dissolve = $("#dissolve");
      var $dissolveButton = $("#dissolveButton");
      $button.click(function(){
        this.disabled = true;
        this.form.submit();
      });
      $dissolveButton.click(function(){
        $dissolveButton.detach();
        $dissolve.append('<input type="button" value="キャンセル" id="cancel" class="beforeDissolve">');
        $dissolve.append('<p class="beforeDissolve">下の解散ボタンをクリックするとこの組織は解散され、元には戻せません。メンバーともよく相談してから押してください。</p>');
        $dissolve.append('<p class="beforeDissolve">＊上のキャンセルボタンを押すとこのメッセージと解散ボタンを非表示にすることができます。');
        $dissolve.append('<input type="submit" value="解散" class="beforeDissolve">');
        $("#cancel").click(function(){
          $dissolve.append($dissolveButton);
          $('.beforeDissolve').detach();
        });
      });
    });
  </script>
</html>
