<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/organizationPage.css">
  </head>
  <body>
    <% include layout %>
    <main>
      <div id="wrapper">
        <h2 id="orgName"><%= orgName %></h2>
        <div id="img">
          <img src="<%= orgThumbnail %>">
        </div>
        <div><%= orgIntroduction %></div>

    <form action="/PHH_Bookmark/organizationPage/bookmarkList/<%= index %>/searchBookmarkList/1" method="post">
      <input type="checkbox" checked="checked" name="searchFromTitle"><div id="titleCheck">タイトル</div>
      <input type="checkbox" name="searchFromDescription"><div id="descriptionCheck">説明文</div>
      <input type="checkbox" name="searchFromTextsOnSites"><div id="textCheck">URL先のテキスト</div>
      <input type="text" placeholder="検索ワードを入力" name="keyWord">
      <input type="submit" value="検索" class="button">
    </form>
    <% if(typeof keyWordNotice !== 'undefined'){ %>
      <p><%= keyWordNotice %></p>
    <% } %>

    <form action="/PHH_Bookmark/organizationPage/bookmarkList/<%= index %>" method="post">
      <% if(typeof url !== 'undefined'){ %>
        <input type="text" placeholder="URLを入力" name="url" id="url" value="<%= url %>">
        <input type="button" value="URLを再送信" name="submitUrlButton" id="submitUrl">
      <% } else { %>
        <input type="text" placeholder="URLを入力" name="url" id="url">
        <input type="button" value="URLを送信" name="submitUrlButton" id="submitUrl">
      <% } %>

      <% if(typeof description !== 'undefined'){ %>
        <input type="text" placeholder="タイトルを入力" name="title" id="title" value="<%= title %>">
        <input type="text" placeholder="ブックマークの説明文を入力" name="description" id="description" value="<%= description %>">
        <input type="submit" value="送信" class="button">
      <% }else if(typeof title !== 'undefined'){ %>
        <input type="text" placeholder="タイトルを入力" name="title" id="title" value="<%= title %>">
        <input type="text" placeholder="ブックマークの説明文を入力" name="description" id="description">
        <input type="submit" value="送信" class="button">
      <% } %>
        </form>

      <% if(typeof titleNotice !== 'undefined'){ %>
        <p><%= titleNotice %></p>
      <% } %>

      <%if(typeof descriptionNotice !== 'undefined'){ %>
        <p><%= descriptionNotice %></p>
      <% } %>

    </form>

    <form action="/PHH_Bookmark/organizationPage/bookmarkList/<%= index %>/submitUrl" method="post" name="submitUrl">
      <input type="hidden" name="result">
    </form>

    <% if(typeof searchedBookmarkData !== 'undefined'){ %>
      <div>検索結果</div>
      <% if(searchedBookmarkData.length > 0){ %>
        <% for(var i = 0; i < searchedBookmarkData.length; i++){ %>
          <a href="/PHH_Bookmark/bookmarkPage"><%= searchedBookmarkData[i].title %></a><a href="<%= searchedBookmarkData[i].url%>"><%= searchedBookmarkData[i].url%></a>
          <%= searchedBookmarkData[i].description %>
          <a name="<%= searchedBookmarkData[i].user_id %>" class="userId"><%= addedUserNickNamesForSearched[i]%></a>
        <% } %>
        <% if(searchIndex !== 1){ %>
            <% var searchHeadUrl = "/PHH_Bookmark/organizationPage/bookmarkList/" + index + "/searchBookmarkList/1"; %>
            <a href="<%= searchHeadUrl %>">先頭へ</a>
          <% } %>
          <% if(searchIndex !== 1){ %>
            <% var searchBackIndex = searchIndex - 1; %>
            <% var searchBackUrl = "/PHH_Bookmark/organizationPage/bookmarkList/" + index + "/searchBookmarkList/" + searchBackIndex; %>
            <a href="<%= searchBackUrl %>">前へ</a>
          <% } %>
          <p><%= searchIndex %>ページ / <%= searchPageLength %>ページ中</p>
          <% if(searchIndex !== searchPageLength){ %>
            <% var searchNextIndex = searchIndex + 1; %>
            <% var searchNextUrl = "/PHH_Bookmark/organizationPage/bookmarkList/" + index + "/searchBookmarkList/" + searchNextIndex; %>
            <a href="<%= searchNextUrl %>">次へ</a>
          <% } %>
          <% if(searchIndex !== searchPageLength){ %>
            <% var searchEndUrl = "/PHH_Bookmark/organizationPage/bookmarkList/" + index + "/searchBookmarkList/" + searchPageLength; %>
            <a href="<%= searchEndUrl %>">末尾へ</a>
          <% } %>
      <% }else{ %>
        一致する項目は見つかりませんでした。
      <% } %>
    <% } %>

    <form id="tes" action="/PHH_Bookmark/orgBookmarkEdit/delete" method="post">
      <% if(typeof bookmarkData !== 'undefined'){ %>
        <div>組織に追加されたブックマーク</div>
        <% for(var i = 0; i < bookmarkData.length; i++){ %>
          <div>
            <% if(isAdmin){ %>
              <input type="checkbox" class="checkbox" name="<%= bookmarkData[i].bookmark_id %>">
            <% } else if(ownBookmarkIds.length > 0){ %>
              <% for(var j = 0; j < ownBookmarkIds.length; j++){ %>
                <% if(ownBookmarkIds[j].bookmark_id === bookmarkData[i].bookmark_id){ %>
                  <input type="checkbox" class="checkbox" name="<%= bookmarkData[i].bookmark_id %>">
                <% } else if(ownBookmarkIds.length > 0){ %>
                  <% for(var j = 0; j < ownBookmarkIds.length; j++){ %>
                    <% if(ownBookmarkIds[j].bookmark_id === bookmarkData[i].bookmark_id){ %>
                      <input type="checkbox" class="checkbox" name="<%= bookmarkData[i].bookmark_id %>">
                    <% } %>
                  <% } %>
                <% } %>
              <% } %>
            <% } %>
          </div>
            <a name="bookmarkId<%= bookmarkData[i].bookmark_id%>"><%= bookmarkData[i].title %></a><a href="<%= bookmarkData[i].url %>"><%= bookmarkData[i].url %></a><%= bookmarkData[i].description %>
            <a name="<%= bookmarkData[i].user_id %>" class="userId"><%= addedUserNickNames[i] %></a>
            <% if(isAdmin){ %>
              <input type="button" value="編集" name="<%= bookmarkData[i].bookmark_id %>" class="edit">
            <% } else if(ownBookmarkIds.length > 0){ %>
              <% for(var j = 0; j < ownBookmarkIds.length; j++){ %>
                <% if(ownBookmarkIds[j].bookmark_id === bookmarkData[i].bookmark_id){ %>
                  <input type="button" value="編集" name="<%= bookmarkData[i].bookmark_id %>" class="edit">
                <% } else if(ownBookmarkIds.length > 0){ %>
                  <% for(var j = 0; j < ownBookmarkIds.length; j++){ %>
                    <% if(ownBookmarkIds[j].bookmark_id === bookmarkData[i].bookmark_id){ %>
                      <input type="button" value="編集" name="<%= bookmarkData[i].bookmark_id %>" class="edit">
                    <% } %>
                  <% } %>
                <% } %>
              </div>
            <% } %>
        <% } %>
        <button type="submit" class="button">削除</button>
        <% if(index !== 1){ %>
          <% var headUrl = "/PHH_Bookmark/organizationPage/bookmarkList/1/searchBookmarkList/" + searchIndex; %>
          <a href="<%= headUrl %>">先頭へ</a>
        <% } %>
        <% if(index !== 1){ %>
          <% var backIndex = index - 1; %>
          <% var backUrl = "/PHH_Bookmark/organizationPage/bookmarkList/" + backIndex + "/searchBookmarkList/" + searchIndex; %>
          <a href="<%= backUrl %>">前へ</a>
        <% } %>
        <p><%= index %>ページ / <%= pageLength %>ページ中</p>
        <% if(index !== pageLength){ %>
          <% var nextIndex = index + 1; %>
          <% var nextUrl = "/PHH_Bookmark/organizationPage/bookmarkList/" + nextIndex + "/searchBookmarkList/" + searchIndex; %>
          <a href="<%= nextUrl %>">次へ</a>
        <% } %>
        <% if(index !== pageLength){ %>
          <% var endUrl = "/PHH_Bookmark/organizationPage/bookmarkList/" + pageLength + "/searchBookmarkList/" + searchIndex; %>
          <a href="<%= endUrl %>">末尾へ</a>
        <% } %>
      <% } %>
    <% } %>
    </form>

    <form action="/PHH_Bookmark/organizationPage/toOrgBookmarkEdit" method="post" name="toOrgBookmarkEdit">
      <input type="hidden" name="result">
    </form>
    <% if(isAdmin){ %>
      <a href="/PHH_Bookmark/organizationManagement">管理ページへ</a>
      <a href="/PHH_Bookmark/membersManagement">メンバー管理ページへ</a>
    <% } %>
    <a href="/PHH_Bookmark/organizationMembers">メンバー一覧へ</a>

    <form name="toSubmitBookmarkData" action="/PHH_Bookmark/submitBookmarkData" method="post">
      <input type="hidden" name="result">
    </form>
    <form name="toOtherProfile" action="/PHH_Bookmark/otherProfile" method="post">
      <input type="hidden" name="result">
    </form>
  </body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
  $(function(){
    var $url = $('#url');
    var $submitUrlButton = $('#submitUrl');
    var $edit = $('.edit');
    var $bookmarkId = $("[name^='bookmarkId']");
    var $userId = $('.userId');
    var $button = $(".button");
    var $titleCheck = $('#titleCheck');
    var $descriptionCheck = $('#descriptionCheck');
    var $textCheck = $('#textCheck');
    var $titleCheckBox = $('[name="searchFromTitle"]');
    var $descriptionCheckBox = $('[name="searchFromDescription"]');
    var $textCheckBox = $('[name="searchFromTextsOnSites"]');

    $button.click(function(){
      this.disabled = true;
      this.form.submit();
    });
    $submitUrlButton.click(function(){
      var url = $url.val();
      document.submitUrl.result.value = url;
      document.submitUrl.submit();
    });
    $edit.click(function(){
      document.toOrgBookmarkEdit.result.value = this.name;
      document.toOrgBookmarkEdit.submit();
    });
    $bookmarkId.click(function(){
      document.toSubmitBookmarkData.result.value = this.name;
      document.toSubmitBookmarkData.submit();
    });
    $userId.click(function(){
      document.toOtherProfile.result.value = this.name;
      document.toOtherProfile.submit();
    });
    $titleCheck.click(function(){
      $titleCheckBox.click();
    });
    $descriptionCheck.click(function(){
      $descriptionCheckBox.click();
    });
    $textCheck.click(function(){
      $textCheckBox.click();
    });
  });
  </script>
</html>
