<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/organizationManagement.css">
  </head>
  <body>
    <% include layout %>
    <main>
      <form action="/PHH_Bookmark/organizationManagement" method="post" enctype="multipart/form-data">
        <div id="name" class="inputForm">組織名</div>
        <input id="setName" class="inputForm" type="text" value="<%= orgName %>" name="orgName" placeholder="組織名">
        <% if(typeof orgNameNotice !== 'undefined'){ %>
          <p id="errorName"><%= orgNameNotice %></p>
        <% } %>
        <div id="introduction" class="inputForm">紹介文</div>
        <textarea id="setIntro" class="inputForm" value="<%= orgIntroduction %>" name="orgIntroduction" placeholder="紹介文"></textarea>
        <% if(typeof orgIntroductionNotice !== 'undefined'){ %>
          <p id="errorIntro"><%= orgIntroductionNotice %></p>
        <% } %>
        <!-- <% if(typeof orgThumbnail !== 'undefined'){%>
          <div id="img">
            <img src="<%= orgThumbnail %>">
          </div>
        <% } %> -->
        <% if(typeof thumbailNotice !== 'undefined'){%>
          <p><%= thumbailNotice %></p>
        <% } %>
        <input id="file" class="input" type="file" accept="image/*" name="image_file">
        <input id="submit" type="submit" value="変更">
      </form>
    </main>
  </body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
    $(function(){
      var $button = $(".button");
      $button.click(function(){
        this.disabled = true;
        this.form.submit();
      });
    });
  </script>
</html>
