<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/organizationManagement.css">
  </head>
  <body>
    <% include layout %>
    <main>
      <form action="/PHH_Bookmark/organizationManagement" method="post" enctype="multipart/form-data">
        <div id="name">組織名</div>
        <input id="setName" type="text" value="<%= orgName %>" name="orgName" placeholder="組織名">
        <% if(typeof orgNameNotice !== 'undefined'){ %>
          <p id="errorName"><%= orgNameNotice %></p>
        <% } %>
        <div id="introduction">紹介文</div>
        <textarea id="setIntro" value="<%= orgIntroduction %>" name="orgIntroduction" placeholder="紹介文"></textarea>
        <% if(typeof orgIntroductionNotice !== 'undefined'){ %>
          <p id="errorIntro"><%= orgIntroductionNotice %></p>
        <% } %>
        <div id="image"><img src="<%= orgThumbnail %>"></img></div>
        <input id="file" type="file" accept="image/*" name="image_file">
        <input id="submit" type="submit" value="変更">
      </form>
    </main>
  </body>
</html>
