<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2><%= orgName %></h2>
    <img src="<%= orgThumbnail %>">
    <div><%= orgIntroduction %></div>

    <form action="/PHH_Bookmark/orgBookmarkEdit" method="post">
      <% if(typeof title !== 'undefined'){ %>
        <input type="text" placeholder="タイトルを入力" name="title" id="title" value="<%= title %>">
      <% } else { %>
        <input type="text" placeholder="タイトルを入力" name="title" id="title">
      <% } %>
      <% if(typeof description !== 'undefined'){ %>
        <input type="text" placeholder="ブックマークの説明文を入力" name="description" id="description" value="<%= description %>">
      <% } else { %>
        <input type="text" placeholder="ブックマークの説明文を入力" name="description" id="description">
      <% } %>
      <input type="submit" value="送信">
    </form>

  </body>
</html>
