<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/switchAuthority.css">
  </head>
  <body>
    <% include layout %>
    <main>
      <h2 id="orgName"><%= orgName %></h2>
      <div id="img">
        <img src="<%= orgThumbnail %>">
      </div>
      <div><%= orgIntroduction %></div>
      <div id="readAdmin">管理者リスト</div>
      <div id="adminList">
        <% if(typeof adminUserNames !== 'undefined'){ %>
          <% for(var i = 0; i < adminUserNames.length; i++){ %>
            <div class="admin">
              <p id="adminName"><%= adminNickNames[i] %><%= adminUserNames[i] %></p>
              <% if(myUserName === adminUserNames[i]){ %>
                <input type="button" value="管理者権限を放棄" id="renounce">
                <% if(typeof authorityNotice !== 'undefined'){ %>
                  <p><%= authorityNotice %></p>
                <% } %>
              <% } %>
            </div>
          <% } %>
        <% } %>
      </div>

      <form action="/PHH_Bookmark/switchAuthority/renounce" method="post" name="renounce">
        <input type="hidden" name="result">
      </form>

      <div id="readMember">一般メンバーリスト</div>
      <div id="memberList">
        <% if(typeof notAdminUserNames !== 'undefined'){ %>
          <% for(var i = 0; i < notAdminUserNames.length; i++){ %>
            <div class="member"><p id="memberName"><%= notAdminNickNames[i] %><%= notAdminUserNames[i] %></p>
              <input id="giveAdmin" type="button" value="管理者権限を付与" class="give" name="<%= notAdminUserNames[i] %>">
            </div>
          <% } %>
        <% } %>
      </div>

      <form action="/PHH_Bookmark/switchAuthority/give" method="post" name="give">
        <input type="hidden" name="result">
      </form>
    </main>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
    $(function(){
      var $giveAuthorityButton = $('.give');
      var $renounceAuthorityButton = $('#renounce');
      $giveAuthorityButton.click(function(){
        document.give.result.value = this.name;
        document.give.submit();
      });
      $renounceAuthorityButton.click(function(){
        document.renounce.result.value = this.name;
        document.renounce.submit();
      });
    });
    </script>
  </body>
</html>
