<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Profile - PHHB</title>
    <link rel="stylesheet" type="text/css" href="/css/myProfile.css">
  </head>
  <body>
    <% include layout %>
    <main>
      <div id="user-info">
        <div>
          <img src="<%= thumbnailPath %>" width="128" height="128"></img>
        </div>
        <div class="div">
          <% if(typeof notExist !== 'undefined'){ %>
            <p><%= notExist %></p>
          <% } %>
          <p><%= nickName %></p>
          <p><%= introduction %></p>
        </div>
      </div>
      <div id="lists">
        <% if(typeof recentBookmarks !== 'undefined'){ %>
          <% for(var i = 0; i < recentBookmarks.length; i++){ %>
            <% if(i % 2 === 0){ %>
              <div class="list1">
            <% }else{%>
              <div class="list2">
            <% } %>
              <a name="bookmarkId<%= recentBookmarks[i].bookmark_id%>"><%= recentBookmarks[i].title %></a>
              <a href="<%= recentBookmarks[i].url %>"><%= recentBookmarks[i].url %></a>
              <%= recentBookmarks[i].description %>
              <% if(recentBookmarks[i].numberOfComments){ %>
                コメント<%= recentBookmarks[i].numberOfComments %>件
              <% }else{ %>
                コメント0件
              <% } %>
            </div>
          <% } %>
        <% } %>
      </div>
      <% if(typeof orgData !== 'undefined'){ %>
        <p id="org">所属している組織</p>
        <% for(var i = 0; i < orgData.length; i++){ %>
          <img src="<%= orgData[i].image_path %>">
          <% if(typeof isMe !== 'undefined'){ %>
            <a name="<%= orgData[i].org_id %>" class="orgId"><%= orgData[i].name %></a>
          <% }else{ %>
            <%= orgData[i].name %>
          <% } %>
        <% } %>
      <% } %>
      <form name="toSubmitBookmarkData" action="/PHH_Bookmark/submitBookmarkData" method="post">
        <input type="hidden" name="result">
      </form>
      <form name="submitOrgId" action="/PHH_Bookmark/organizationPage/submitOrgId" method="post">
        <input type="hidden" name="result">
      </form>
    </main>
  </body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
  $(function(){
    var $bookmarkId = $("[name^='bookmarkId']");
    var $orgId = $('.orgId');
    $bookmarkId.click(function(){
      document.toSubmitBookmarkData.result.value = this.name;
      document.toSubmitBookmarkData.submit();
    });
    $orgId.click(function(){
      document.submitOrgId.result.value = this.name;
      document.submitOrgId.submit();
    })
  });
  </script>
</html>
